h1{
  margin-top: 5vh;
  text-align: center;
  color: #964747;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid darkgray;
  border-radius: 4px;
  width: 300px;
  margin: 10vh auto;
  border-radius: 20px;
	background-color: lightgray;
	box-shadow: 0px 0px 12px 12px darkgray inset;
}

.button-row {
  display: flex;
  justify-content: center;
}

button {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

.display {
  font-size: 24px;
  padding: 10px;
  border: none;
  background-color: #f0eaea;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: right;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
}